/* Cursor retro */
* {
  cursor: url(https://cur.cursors-4u.net/cursors/cur-9/cur830.cur), auto !important;
}

/* Fuente pixelada */
@font-face {
  font-family: 'Arial Pixel';
  src: url('PIXEARG_.TTF') format('truetype');
}

* {
  letter-spacing: 1.5px;
  font-size: xx-small;
  font-family: 'Arial Pixel';
}

body {
  line-height: 1.5;
  color: #333;
  margin: 0;
  display: flex;
  background-color: #c5c5c5;
}

.HistS-container {
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  border: 3px outset #F3F3F3;
  background-color: #e3e3e3;
}

.HistS-main-header {
  margin: auto;
  width: 750px;
  border: 7px inset #F3F3F3 !important;
  margin-top: 15px;
}

.HistS-main-header a {
  text-decoration: none;
  color: inherit;
}

.HistS-main-header a:hover {
  text-decoration: underline;
}


.HistS-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e3e3e3;
  padding: 5px;
}

.HistS-header nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.HistS-header nav ul li {
  margin-right: 1rem;
}

.HistS-header nav ul li a {
  text-decoration: none;
  color: #333;
}

.HistS-header nav ul li a:hover {
  text-decoration: underline;
}

.HistS-header nav li:first-child {
  margin-right: 5px;
  padding-right: 5px;
  border-right: 1px solid #000;
}

.HistS-logo-image {
  height: 40px;
  width: auto;
}

.HistS-search-bar input[type="text"] {
  padding: 5px;
  background: #ffffff80;
  border: 3px ridge white;
}

.HistS-search-bar button {
  padding: 5px 10px;
  color: black;
  background: #ffffff80;
  border: 3px ridge white;
}

.HistS-search-bar button:hover {
  background-color: #37404b;
}

.HistS-second-nav {
  background-color: #f2f0f0;
  width: 737px;
  margin: 0 auto;
}

.HistS-second-nav ul {
  list-style: none;
  margin: 0;
  padding: 5px;
  padding-left: 20px;
}

.HistS-second-nav ul li {
  display: inline;
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid #000;
}

.HistS-second-nav ul li:last-child {
  border-right: none;
}

.HistS-second-nav ul li a {
  text-decoration: none;
  color: #333;
}

.HistS-second-nav ul li a:hover {
  text-decoration: underline;
}

.HistS-main {
  width: 800px;
  margin: auto;
  flex: 1;
  display: flex;
  background-color: #e3e3e3;
  justify-content: space-between;
}

.HistS-container-inner {
  padding: 10px;
  width: 25%;
  background-color: #e3e3e3;
}

.HistS-profile-box {
    background-color: lightgray;
    margin-top: 10px;
    text-align: center;
    border: 7px ridge #bbbbbb;
    padding: 1rem;
    box-shadow: calc((400px + (25px * 2)) * 0.025) calc((400px + (25px * 2)) * 0.025) #5d6d7e;
}

.HistS-container-inner h2 {
  margin: 0;
  padding: 0;
}

.HistS-container-inner button {
  padding: 5px 10px;
  color: black;
  background: #ffffff80;
  border: 3px ridge white;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.HistS-container-inner button:hover {
  background-color: #37404b;
}

.HistS-profile-image {
  margin-top: 5px;
  width: 150px;
  height: 150px;
  border: 3px outset #F3F3F3 !important;
}

.HistS-profile-box {
  background-color: lightgray;
  margin-top: 10px;
  text-align: center;
  border: 7px ridge #bbbbbb;
  padding: 1rem;
  box-shadow: 10px 10px #5d6d7e;
}

.HistS-container-inner ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.HistS-container-inner ul li {
  margin-top: 5px;
}

.HistS-container-inner li a {
  text-decoration: none;
  color: #333;
}

.HistS-container-inner li a:hover {
  text-decoration: underline;
}

.HistS-container-inner-right {
  margin: 10px 20px;
  width: 75%;
  padding: 10px;
  background: white radial-gradient(circle at 0 0, #b3d3e850 2px, transparent 0);
  background-size: 4px 4px;
  border: 3px outset #F3F3F3;
}

.HistS-sales-history {
  background-color: #f5f5f5;
  border: 3px ridge #bbbbbb;
  padding: 10px;
  box-shadow: 5px 5px #5d6d7e;
}

.HistS-sales-history h2 {
  background-color: #5d6d7e;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 1rem;
  border: 3px outset #f3f3f3;
  margin-top: 0;
}

.HistS-sale-item {
  background-color: #fff;
  border: 2px solid #ccc;
  margin-top: 10px;
  padding: 10px;
  font-size: xx-small;
  box-shadow: 2px 2px #ccc;
}

.HistS-sale-item p {
  margin: 5px 0;
}

.HistS-sale-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ddd;
  background-color: #fdfdfd;
}

.HistS-product-image {
  width: 150px;
  height: auto;
  object-fit: cover;
}

.HistS-sale-details {
  flex: 1;
}

.HistS-footer {
  padding: 0;
  width: 750px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background: repeating-linear-gradient(45deg, #BFDBFE, #BFDBFE 10px, #DBEAFE 10px, #DBEAFE 20px);
  text-align: center;
  border: 1px solid #000000;
}
