/* Start https://www.cursors-4u.com */ 
* { 
    cursor: url(https://cur.cursors-4u.net/cursors/cur-9/cur830.cur), auto !important; 
} 
/* End https://www.cursors-4u.com */ 

@font-face {
    font-family: 'Arial Pixel';
    src: url('PIXEARG_.TTF') format('truetype');
}

*{
    letter-spacing: 1.5px; 
    font-size: xx-small;
    font-family: Arial Pixel;
}

body {
    line-height: 1.5;
    color: #333;
    margin: 0;
    display: flex;
    background-color: #c5c5c5;
}

.Prfl-container {
    margin: auto;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    border: 3px outset #F3F3F3;
    background-color: #e3e3e3;
}

.Prfl-main-header {
    margin: auto;
    width: 750px;
    border: 7px inset #F3F3F3 !important;
    margin-top: 15px;
}

.Prfl-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e3e3e3;
    padding: 5px;
}

.Prfl-header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.Prfl-header nav ul li {
    margin-right: 1rem;
}

.Prfl-header nav ul li a {
    text-decoration: none;
    color: #333;
}

.Prfl-header nav ul li a:hover {
    text-decoration: underline;
}

.Prfl-header nav li:first-child {
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid #000;
}

.Prfl-logo-image {
    height: 40px;
}

.Prfl-search-bar input[type="text"] {
    padding: 5px;
    background: #ffffff80;
    border: 3px ridge white;
}

.Prfl-search-bar button {
    padding: 5px 10px;
    color: black;
    background: #ffffff80;
    border: 3px ridge white;
}

.Prfl-search-bar button:hover {
    background-color: #37404b;
}

.Prfl-second-nav {
    background-color: #f2f0f0;
    width: 750px;
    margin: 0 auto;
}

.Prfl-second-nav ul {
    list-style: none;
    margin: 0;
    padding: 5px;
    padding-left: 20px;
}

.Prfl-second-nav ul li {
    display: inline;
    margin-right: 20px;
    padding-right:20px ;
    border-right: 1px solid #000;
}

.Prfl-second-nav ul li:last-child {
    display: inline;
    margin-right: 20px;
    border-right: 0;
}

.Prfl-second-nav ul li a {
    text-decoration: none;
    color: #333;
}

.Prfl-second-nav ul li a:hover {
    text-decoration: underline;
}

.Prfl-main {
    width: 800px;
    margin: auto;
    flex: 1; 
    display: flex;
    background-color: #e3e3e3;
    justify-content: space-between;
}

.Prfl-container-inner {
    padding: 10px;
    width: 25%; 
    background-color: #e3e3e3;
}

.Prfl-container-inner h2 {
    margin: 0;
    padding: 0;
}

.Prfl-container-inner button {
    padding: 5px 10px;
    color: black;
    background: #ffffff80;
    border: 3px ridge white;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto; 
    display: block;
}

.Prfl-container-inner button:hover {
    background-color: #37404b;
}

.Prfl-profile-image {
    margin-top: 5px;
    width: 150px;
    height: 150px;
    border: 3px outset #F3F3F3 !important;
}

.Prfl-profile-box {
    background-color: lightgray;
    margin-top: 10px;
    text-align: center;
    border: 7px ridge #bbbbbb;
    padding: 1rem;
    box-shadow: calc((400px + (25px * 2)) * 0.025) calc((400px + (25px * 2)) * 0.025) #5d6d7e;
}

.Prfl-Status caption{
    padding: 3px;
    font-weight: bold;
    background-color: #5d6d7e;
    color: white;
}

.Prfl-Status {
    margin-top: 30px;
    background-size: 4px 4px;
    border: 3px outset #F3F3F3;
    padding: 5px;
}

.Prfl-container-inner ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.Prfl-container-inner ul li {
    margin-top: 5px;
}

.Prfl-container-inner li a {
    text-decoration: none;
    color: #333;
}

.Prfl-container-inner li a:hover {
    text-decoration: underline;
}

.Prfl-container-inner-right {
    margin: 10px;
    margin-right: 20px;
    margin-left: 20px;
    width: 75%; 
    padding: 10px;
    background: white radial-gradient(circle at 0 0, #b3d3e850 2px, transparent 0);
    background-size: 4px 4px;
    border: 3px outset #F3F3F3;
}

.Prfl-edit-profile {
    border: 1px solid #ccc;
    padding: 20px;
}

.Prfl-edit-profile label {
    display: block;
    margin-bottom: 5px;
}

.Prfl-edit-profile h2 {
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 20px;
}

.Prfl-edit-profile input[type="text"]{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 3px ridge #bbbbbb;
}

.Prfl-edit-profile input[type="date"]{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 3px ridge #bbbbbb;
    border-radius: 4px;
}

.Prfl-edit-profile input[type="submit"] {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    color: black;
    background: #ffffff80;
    border: 3px ridge white;
}

.Prfl-edit-profile input[type="submit"]:hover {
    background-color: #636363;
}

.Prfl-friends-list {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center; 
}

.Prfl-friends-list h2 {
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 20px;
}

.Prfl-friend-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); 
    gap: 10px; 
    justify-items: center;
    overflow-x: auto;
}

.Prfl-friend {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Prfl-friend img {
    width: 100px; 
    height: 100px;
    margin-bottom: 5px;
}

.Prfl-friend p {
    margin: 0;
    text-align: center;
}

footer {
    padding: 0;
    width: 750px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background: repeating-linear-gradient(45deg, #BFDBFE, #BFDBFE 10px, #DBEAFE 10px, #DBEAFE 20px);
    text-align: center;
    border: 1px solid #000000;
}